.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 600px;
    width: 800px;
    border: 1px solid red;
}
.box1{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: blueviolet;
}
.box2{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: brown;
}
.box3{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: burlywood;
}
.box4{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: chocolate;
}