.box{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-template-rows: 200px 400px 200px;
    height: 600px;
    width: 800px;
    border: 1px solid red;
}
.box1{
    height: auto;
    width: auto;
    border: 1px solid blue;
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box2{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: brown;
}
.box3{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: burlywood;
}
.box4{
    height: 200px;
    width: 150px;
    border: 1px solid blue;
    background-color: chocolate;
}